tools/**/zoo-local-support.ts
tools/**/zoo-local-tools.ts
tools/.categories-cache.json
node_dump
.DS_Store
packages**
zoo-node**
deno.lock
*_local.sh
tmp
__pycache__


AGENTS.md
CLAUDE.md
GEMINI.md
GROK.md
QWEN.md
